.page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  background-color: #fafafa;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
