.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(29, 52, 54, .08);
  border-radius: 10px;
  padding: 20px;
  min-height: 30px;
  max-width: 500px;
  min-width: 200px;
  max-height: calc(100vh - 205px);
  overflow: auto;
  margin: 0 10px 30px;
}

.container:first-of-type{
  margin-top: 30px;
}

.container:last-of-type {
  margin-bottom: 0;
}
